<script>var names = []</script>

@{
    ViewData["Title"] = "Opret spørgeskema";
    int q_amt = 20;
    int patient = (int)KliPr.Enum.Participant.Patient;
    int pårørende = (int)KliPr.Enum.Participant.Pårørende;
    int sundhedspro = (int)KliPr.Enum.Participant.Sundhedsprofessionel;
    int admin = (int)KliPr.Enum.Participant.Administrator;
    var DA = new KliPr.Models.DataAccess();
    var list = DA.GetNameList();

    foreach(var name in list)
    {
        <script> names.push("@name") </script>
    }


}
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
</head>

<div class="thetopmargin">
    <form method="post" id="questioncontainer">
            <div class="form-group">
                <div class="col-xs-4 nopadding">
                    <div for="name">Navn på spørgeskema:</div>
                    <input class="form-control namebox" name="name" placeholder="Navn" id="questionnairename">
                </div>
                <div class="col-xs-8 nopadding">
                    <div for="henvender">Hvem henvender spørgeskemaet sig til?</div>
                    <select class="form-control" name="participant" id="henvender">                       
                        <option id="" value="@patient">@KliPr.Enum.Participant.Patient</option>
                        <option id="" value="@pårørende">@KliPr.Enum.Participant.Pårørende</option>
                        <option id="" value="@sundhedspro">@KliPr.Enum.Participant.Sundhedsprofessionel</option> 
                        <option id="" value="@admin">@KliPr.Enum.Participant.Administrator</option>                          
                    </select>
                </div>
                <br />
                <div class="smalltopmargin">Vælg spørgsmål:</div>
                <div class="floatleft">
                    <select class="form-control" id="sel">
                        <option id="opt0" value="0">Spørgsmål 1</option>
                        <option id="opt1" hidden="hidden" value="1">Spørgsmål 2</option>
                        <option id="opt2" hidden="hidden" value="2">Spørgsmål 3</option>
                        <option id="opt3" hidden="hidden" value="3">Spørgsmål 4</option>
                        <option id="opt4" hidden="hidden" value="4">Spørgsmål 5</option>
                        <option id="opt5" hidden="hidden" value="5">Spørgsmål 6</option>
                        <option id="opt6" hidden="hidden" value="6">Spørgsmål 7</option>
                        <option id="opt7" hidden="hidden" value="7">Spørgsmål 8</option>
                        <option id="opt8" hidden="hidden" value="8">Spørgsmål 9</option>
                        <option id="opt9" hidden="hidden" value="9">Spørgsmål 10</option>
                        <option id="opt10" hidden="hidden" value="10">Spørgsmål 11</option>
                        <option id="opt11" hidden="hidden" value="11">Spørgsmål 12</option>
                        <option id="opt12" hidden="hidden" value="12">Spørgsmål 13</option>
                        <option id="opt13" hidden="hidden" value="13">Spørgsmål 14</option>
                        <option id="opt14" hidden="hidden" value="14">Spørgsmål 15</option>
                        <option id="opt15" hidden="hidden" value="15">Spørgsmål 16</option>
                        <option id="opt16" hidden="hidden" value="16">Spørgsmål 17</option>
                        <option id="opt17" hidden="hidden" value="17">Spørgsmål 18</option>
                        <option id="opt18" hidden="hidden" value="18">Spørgsmål 19</option>
                        <option id="opt19" hidden="hidden" value="19">Spørgsmål 20</option>
                    </select>

                    @*<button type="button" class="btn btn-default" id="minusbtn">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </button>*@
                </div>
            </div>
        <div class="row col-xs-12">
            <div class="rc0 col-xs-12" id="q0">
                <br />
                <div class="row">
                    <div class="col-xs-9">
                        <div class="labelonbg" for="q0nameid">Indtast spørgsmål:</div>
                        <input class="form-control" name="q0name" id="q0nameid" placeholder="Spørgsmål 1">
                    </div>
                    <div class="col-xs-3">
                        <div class="labelonbg" for="seltype0">Vælg svartype</div>
                        <select class="form-control" id="seltype0" placeholder="Svartype" name="q0type">
                            <option value="0">Kun ét svar kan vælges</option>
                            <option value="2">Rent tekstsvar</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row" id="q0t0">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast svarmuligheder: (alle fem behøves ikke benyttes)</div>
                        <input class="form-control" name="q0t0a0" id="q0t0a0" placeholder="Svar 1">
                        <input class="form-control svarm" name="q0t0a1" id="q0t0a1" placeholder="Svar 2">
                        <input class="form-control svarm" name="q0t0a2" id="q0t0a2" placeholder="Svar 3">
                        <input class="form-control svarm" name="q0t0a3" id="q0t0a3" placeholder="Svar 4">
                        <input class="form-control svarm" name="q0t0a4" id="q0t0a4" placeholder="Svar 5">
                    </div>

                </div>
                <div class="row nondisplay" id="q0t5">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast startværdi:</div>
                        <input class="form-control t2" name="q0t1a0" id="q0t1a0" type="number">
                        <br />
                        <div class="labelonbg">Indtast slutværdi:</div>
                        <input class="form-control t2" name="q0t1a1" id="q0t1a1" type="number">
                    </div>
                </div>
                <br />
                @*<div class="col-xs3">
                    <div class="labelonbg" for="needanswer0">Skal besvares:</div>
                    <input type="checkbox" value="true" name="needanswer0" id="needanswer0">
                </div>
                <br />*@
            </div>
            <div class="rc1 col-xs-12" id="q1">
                <br />
                <div class="row">
                    <div class="col-xs-9">
                        <div class="labelonbg" for="q1nameid">Indtast spørgsmål:</div>
                        <input class="form-control" name="q1name" id="q1nameid" placeholder="Spørgsmål 2">
                    </div>
                    <div class="col-xs-3">
                        <div class="labelonbg" for="seltype1">Vælg svartype</div>
                        <select class="form-control" id="seltype1" placeholder="Svartype" name="q1type">
                            <option value="0">Kun ét svar kan vælges</option>
                            <option value="2">Rent tekstsvar</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row" id="q1t0">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast svarmuligheder: (alle fem behøves ikke benyttes)</div>
                        <input class="form-control" name="q1t0a0" id="q1t0a0" placeholder="Svar 1">
                        <input class="form-control svarm" name="q1t0a1" id="q1t0a1" placeholder="Svar 2">
                        <input class="form-control svarm" name="q1t0a2" id="q1t0a2" placeholder="Svar 3">
                        <input class="form-control svarm" name="q1t0a3" id="q1t0a3" placeholder="Svar 4">
                        <input class="form-control svarm" name="q1t0a4" id="q0t0a4" placeholder="Svar 5">
                    </div>

                </div>
                <div class="row nondisplay" id="q1t5">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast startværdi:</div>
                        <input class="form-control t2" name="q1t1a0" id="q1t1a0" type="number">
                        <br />
                        <div class="labelonbg">Indtast slutværdi:</div>
                        <input class="form-control t2" name="q1t1a1" id="q1t1a1" type="number">
                    </div>
                </div>
                <br />
                @*<div class="col-xs3">
                    <div class="labelonbg" for="needanswer1">Skal besvares:</div>
                    <input type="checkbox" value="true" name="needanswer1"id="needanswer1">
                </div>
                <br />*@
            </div>
            <div class="rc1 col-xs-12" id="q2">
                <br />
                <div class="row">
                    <div class="col-xs-9">
                        <div class="labelonbg" for="q2nameid">Indtast spørgsmål:</div>
                        <input class="form-control" name="q2name" id="q2nameid" placeholder="Spørgsmål 3">
                    </div>
                    <div class="col-xs-3">
                        <div class="labelonbg" for="seltype2">Vælg svartype</div>
                        <select class="form-control" id="seltype2" placeholder="Svartype" name="q2type">
                            <option value="0">Kun ét svar kan vælges</option>
                            <option value="2">Rent tekstsvar</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row" id="q2t0">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast svarmuligheder: (alle fem behøves ikke benyttes)</div>
                        <input class="form-control" name="q2t0a0" id="q2t0a0" placeholder="Svar 1">
                        <input class="form-control svarm" name="q2t0a1" id="q2t0a1" placeholder="Svar 2">
                        <input class="form-control svarm" name="q2t0a2" id="q2t0a2" placeholder="Svar 3">
                        <input class="form-control svarm" name="q2t0a3" id="q2t0a3" placeholder="Svar 4">
                        <input class="form-control svarm" name="q2t0a4" id="q0t0a4" placeholder="Svar 5">
                    </div>

                </div>
                <div class="row nondisplay" id="q2t5">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast startværdi:</div>
                        <input class="form-control t2" name="q2t1a0" id="q2t1a0" type="number">
                        <br />
                        <div class="labelonbg">Indtast slutværdi:</div>
                        <input class="form-control t2" name="q2t1a1" id="q2t1a1" type="number">
                    </div>
                </div>
                <br />
                @*<div class="col-xs3">
                    <div class="labelonbg" for="needanswer2">Skal besvares:</div>
                    <input type="checkbox" value="true" name="needanswer2" id="needanswer2">
                </div>
                <br />*@
            </div>
            <div class="rc1 col-xs-12" id="q3">
                <br />
                <div class="row">
                    <div class="col-xs-9">
                        <div class="labelonbg" for="q3nameid">Indtast spørgsmål:</div>
                        <input class="form-control" name="q3name" id="q3nameid" placeholder="Spørgsmål 4">
                    </div>
                    <div class="col-xs-3">
                        <div class="labelonbg" for="seltype3">Vælg svartype</div>
                        <select class="form-control" id="seltype3" placeholder="Svartype" name="q3type">
                            <option value="0">Kun ét svar kan vælges</option>
                            <option value="2">Rent tekstsvar</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row" id="q3t0">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast svarmuligheder: (alle fem behøves ikke benyttes)</div>
                        <input class="form-control" name="q3t0a0" id="q3t0a0" placeholder="Svar 1">
                        <input class="form-control svarm" name="q3t0a1" id="q3t0a1" placeholder="Svar 2">
                        <input class="form-control svarm" name="q3t0a2" id="q3t0a2" placeholder="Svar 3">
                        <input class="form-control svarm" name="q3t0a3" id="q3t0a3" placeholder="Svar 4">
                        <input class="form-control svarm" name="q3t0a4" id="q0t0a4" placeholder="Svar 5">
                    </div>

                </div>
                <div class="row nondisplay" id="q3t5">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast startværdi:</div>
                        <input class="form-control t2" name="q3t1a0" id="q3t1a0"  type="number">
                        <br />
                        <div class="labelonbg">Indtast slutværdi:</div>
                        <input class="form-control t2" name="q3t1a1" id="q3t1a1"  type="number">
                    </div>
                </div>
                <br />
                @*<div class="col-xs3">
                    <div class="labelonbg" for="needanswer3">Skal besvares:</div>
                    <input type="checkbox" value="true" name="needanswer3" id="needanswer3">
                </div>
                <br />*@
            </div>
            <div class="rc1 col-xs-12" id="q4">
                <br />
                <div class="row">
                    <div class="col-xs-9">
                        <div class="labelonbg" for="q4nameid">Indtast spørgsmål:</div>
                        <input class="form-control" name="q4name" id="q4nameid" placeholder="Spørgsmål 5">
                    </div>
                    <div class="col-xs-3">
                        <div class="labelonbg" for="seltype4">Vælg svartype</div>
                        <select class="form-control" id="seltype4" placeholder="Svartype" name="q4type">
                            <option value="0">Kun ét svar kan vælges</option>
                            <option value="2">Rent tekstsvar</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row" id="q4t0">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast svarmuligheder: (alle fem behøves ikke benyttes)</div>
                        <input class="form-control" name="q4t0a0" id="q4t0a0" placeholder="Svar 1">
                        <input class="form-control svarm" name="q4t0a1" id="q4t0a1" placeholder="Svar 2">
                        <input class="form-control svarm" name="q4t0a2" id="q4t0a2" placeholder="Svar 3">
                        <input class="form-control svarm" name="q4t0a3" id="q4t0a3" placeholder="Svar 4">
                        <input class="form-control svarm" name="q4t0a4" id="q0t0a4" placeholder="Svar 5">
                    </div>

                </div>
                <div class="row nondisplay" id="q4t5">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast startværdi:</div>
                        <input class="form-control t2" name="q4t1a0" id="q4t1a0"  type="number">
                        <br />
                        <div class="labelonbg">Indtast slutværdi:</div>
                        <input class="form-control t2" name="q4t1a1" id="q4t1a1"  type="number">
                    </div>
                </div>
                <br />
                @*<div class="col-xs3">
                    <div class="labelonbg" for="needanswer4">Skal besvares:</div>
                    <input type="checkbox" value="true" name="needanswer4" id="needanswer4">
                </div>
                <br />*@
            </div>
            <div class="rc1 col-xs-12" id="q5">
                <br />
                <div class="row">
                    <div class="col-xs-9">
                        <div class="labelonbg" for="q5nameid">Indtast spørgsmål:</div>
                        <input class="form-control" name="q5name" id="q5nameid" placeholder="Spørgsmål 6">
                    </div>
                    <div class="col-xs-3">
                        <div class="labelonbg" for="seltype5">Vælg svartype</div>
                        <select class="form-control" id="seltype5" placeholder="Svartype" name="q5type">
                            <option value="0">Kun ét svar kan vælges</option>
                            <option value="2">Rent tekstsvar</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row" id="q5t0">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast svarmuligheder: (alle fem behøves ikke benyttes)</div>
                        <input class="form-control" name="q5t0a0" id="q5t0a0" placeholder="Svar 1">
                        <input class="form-control svarm" name="q5t0a1" id="q5t0a1" placeholder="Svar 2">
                        <input class="form-control svarm" name="q5t0a2" id="q5t0a2" placeholder="Svar 3">
                        <input class="form-control svarm" name="q5t0a3" id="q5t0a3" placeholder="Svar 4">
                        <input class="form-control svarm" name="q5t0a4" id="q5t0a4" placeholder="Svar 5">
                    </div>

                </div>
                <div class="row nondisplay" id="q5t5">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast startværdi:</div>
                        <input class="form-control t2" name="q5t1a0" id="q5t1a0"  type="number">
                        <br />
                        <div class="labelonbg">Indtast slutværdi:</div>
                        <input class="form-control t2" name="q5t1a1" id="q5t1a1"  type="number">
                    </div>
                </div>
                <br />
                @*<div class="col-xs3">
                    <div class="labelonbg" for="needanswer5">Skal besvares:</div>
                    <input type="checkbox" value="true" name="needanswer5" id="needanswer5">
                </div>
                <br />*@
            </div>
            <div class="rc1 col-xs-12" id="q6">
                <br />
                <div class="row">
                    <div class="col-xs-9">
                        <div class="labelonbg" for="q6nameid">Indtast spørgsmål:</div>
                        <input class="form-control" name="q6name" id="q6nameid" placeholder="Spørgsmål 7">
                    </div>
                    <div class="col-xs-3">
                        <div class="labelonbg" for="seltype6">Vælg svartype</div>
                        <select class="form-control" id="seltype6" placeholder="Svartype" name="q6type">
                            <option value="0">Kun ét svar kan vælges</option>
                            <option value="2">Rent tekstsvar</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row" id="q6t0">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast svarmuligheder: (alle fem behøves ikke benyttes)</div>
                        <input class="form-control" name="q6t0a0" id="q6t0a0" placeholder="Svar 1">
                        <input class="form-control svarm" name="q6t0a1" id="q6t0a1" placeholder="Svar 2">
                        <input class="form-control svarm" name="q6t0a2" id="q6t0a2" placeholder="Svar 3">
                        <input class="form-control svarm" name="q6t0a3" id="q6t0a3" placeholder="Svar 4">
                        <input class="form-control svarm" name="q6t0a4" id="q6t0a4" placeholder="Svar 5">
                    </div>

                </div>
                <div class="row nondisplay" id="q6t5">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast startværdi:</div>
                        <input class="form-control t2" name="q6t1a0" id="q6t1a0"  type="number">
                        <br />
                        <div class="labelonbg">Indtast slutværdi:</div>
                        <input class="form-control t2" name="q6t1a1" id="q6t1a1"  type="number">
                    </div>
                </div>
                <br />
                @*<div class="col-xs3">
                    <div class="labelonbg" for="needanswer6">Skal besvares:</div>
                    <input type="checkbox" value="true" name="needanswer6" id="needanswer6">
                </div>
                <br />*@
            </div>
            <div class="rc1 col-xs-12" id="q7">
                <br />
                <div class="row">
                    <div class="col-xs-9">
                        <div class="labelonbg" for="q7nameid">Indtast spørgsmål:</div>
                        <input class="form-control" name="q7name" id="q7nameid" placeholder="Spørgsmål 8">
                    </div>
                    <div class="col-xs-3">
                        <div class="labelonbg" for="seltype7">Vælg svartype</div>
                        <select class="form-control" id="seltype7" placeholder="Svartype" name="q7type">
                            <option value="0">Kun ét svar kan vælges</option>
                            <option value="2">Rent tekstsvar</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row" id="q7t0">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast svarmuligheder: (alle fem behøves ikke benyttes)</div>
                        <input class="form-control" name="q7t0a0" id="q7t0a0" placeholder="Svar 1">
                        <input class="form-control svarm" name="q7t0a1" id="q7t0a1" placeholder="Svar 2">
                        <input class="form-control svarm" name="q7t0a2" id="q7t0a2" placeholder="Svar 3">
                        <input class="form-control svarm" name="q7t0a3" id="q7t0a3" placeholder="Svar 4">
                        <input class="form-control svarm" name="q7t0a4" id="q7t0a4" placeholder="Svar 5">
                    </div>

                </div>
                <div class="row nondisplay" id="q7t5">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast startværdi:</div>
                        <input class="form-control t2" name="q7t1a0" id="q7t1a0"  type="number">
                        <br />
                        <div class="labelonbg">Indtast slutværdi:</div>
                        <input class="form-control t2" name="q7t1a1" id="q7t1a1"  type="number">
                    </div>
                </div>
                <br />
                @*<div class="col-xs3">
                    <div class="labelonbg" for="needanswer7">Skal besvares:</div>
                    <input type="checkbox" value="true" name="needanswer7" id="needanswer7">
                </div>
                <br />*@
            </div>
            <div class="rc1 col-xs-12" id="q8">
                <br />
                <div class="row">
                    <div class="col-xs-9">
                        <div class="labelonbg" for="q8nameid">Indtast spørgsmål:</div>
                        <input class="form-control" name="q8name" id="q8nameid" placeholder="Spørgsmål 9">
                    </div>
                    <div class="col-xs-3">
                        <div class="labelonbg" for="seltype8">Vælg svartype</div>
                        <select class="form-control" id="seltype8" placeholder="Svartype" name="q8type">
                            <option value="0">Kun ét svar kan vælges</option>
                            <option value="2">Rent tekstsvar</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row" id="q8t0">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast svarmuligheder: (alle fem behøves ikke benyttes)</div>
                        <input class="form-control" name="q8t0a0" id="q8t0a0" placeholder="Svar 1">
                        <input class="form-control svarm" name="q8t0a1" id="q8t0a1" placeholder="Svar 2">
                        <input class="form-control svarm" name="q8t0a2" id="q8t0a2" placeholder="Svar 3">
                        <input class="form-control svarm" name="q8t0a3" id="q8t0a3" placeholder="Svar 4">
                        <input class="form-control svarm" name="q8t0a4" id="q8t0a4" placeholder="Svar 5">
                    </div>

                </div>
                <div class="row nondisplay" id="q8t5">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast startværdi:</div>
                        <input class="form-control t2" name="q8t1a0" id="q8t1a0"  type="number">
                        <br />
                        <div class="labelonbg">Indtast slutværdi:</div>
                        <input class="form-control t2" name="q8t1a1" id="q8t1a1"  type="number">
                    </div>
                </div>
                <br />
                @*<div class="col-xs3">
                    <div class="labelonbg" for="needanswer8">Skal besvares:</div>
                    <input type="checkbox" value="true" name="needanswer8" id="needanswer8">
                </div>
                <br />*@
            </div>
            <div class="rc1 col-xs-12" id="q9">
                <br />
                <div class="row">
                    <div class="col-xs-9">
                        <div class="labelonbg" for="q9nameid">Indtast spørgsmål:</div>
                        <input class="form-control" name="q9name" id="q9nameid" placeholder="Spørgsmål 10">
                    </div>
                    <div class="col-xs-3">
                        <div class="labelonbg" for="seltype9">Vælg svartype</div>
                        <select class="form-control" id="seltype9" placeholder="Svartype" name="q9type">
                            <option value="0">Kun ét svar kan vælges</option>
                            <option value="2">Rent tekstsvar</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row" id="q9t0">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast svarmuligheder: (alle fem behøves ikke benyttes)</div>
                        <input class="form-control" name="q9t0a0" id="q9t0a0" placeholder="Svar 1">
                        <input class="form-control svarm" name="q9t0a1" id="q9t0a1" placeholder="Svar 2">
                        <input class="form-control svarm" name="q9t0a2" id="q9t0a2" placeholder="Svar 3">
                        <input class="form-control svarm" name="q9t0a3" id="q9t0a3" placeholder="Svar 4">
                        <input class="form-control svarm" name="q9t0a4" id="q9t0a4" placeholder="Svar 5">
                    </div>

                </div>
                <div class="row nondisplay" id="q9t5">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast startværdi:</div>
                        <input class="form-control t2" name="q9t1a0" id="q9t1a0"  type="number">
                        <br />
                        <div class="labelonbg">Indtast slutværdi:</div>
                        <input class="form-control t2" name="q9t1a1" id="q9t1a1"  type="number">
                    </div>
                </div>
                <br />
                @*<div class="col-xs3">
                    <div class="labelonbg" for="needanswer9">Skal besvares:</div>
                    <input type="checkbox" value="true" name="needanswer9" id="needanswer9">
                </div>
                <br />*@
            </div>
            <div class="rc1 col-xs-12" id="q10">
                <br />
                <div class="row">
                    <div class="col-xs-9">
                        <div class="labelonbg" for="q10nameid">Indtast spørgsmål:</div>
                        <input class="form-control" name="q10name" id="q10nameid" placeholder="Spørgsmål 11">
                    </div>
                    <div class="col-xs-3">
                        <div class="labelonbg" for="seltype10">Vælg svartype</div>
                        <select class="form-control" id="seltype10" placeholder="Svartype" name="q10type">
                            <option value="0">Kun ét svar kan vælges</option>
                            <option value="2">Rent tekstsvar</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row" id="q10t0">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast svarmuligheder: (alle fem behøves ikke benyttes)</div>
                        <input class="form-control" name="q10t0a0" id="q10t0a0" placeholder="Svar 1">
                        <input class="form-control svarm" name="q10t0a1" id="q10t0a1" placeholder="Svar 2">
                        <input class="form-control svarm" name="q10t0a2" id="q10t0a2" placeholder="Svar 3">
                        <input class="form-control svarm" name="q10t0a3" id="q10t0a3" placeholder="Svar 4">
                        <input class="form-control svarm" name="q10t0a4" id="q10t0a4" placeholder="Svar 5">
                    </div>

                </div>
                <div class="row nondisplay" id="q10t5">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast startværdi:</div>
                        <input class="form-control t2" name="q10t1a0" id="q10t1a0"  type="number">
                        <br />
                        <div class="labelonbg">Indtast slutværdi:</div>
                        <input class="form-control t2" name="q10t1a1" id="q10t1a1"  type="number">
                    </div>
                </div>
                <br />
                @*<div class="col-xs3">
                    <div class="labelonbg" for="needanswer10">Skal besvares:</div>
                    <input type="checkbox" value="true" name="needanswer10" id="needanswer10">
                </div>
                <br />*@
            </div>
            <div class="rc1 col-xs-12" id="q11">
                <br />
                <div class="row">
                    <div class="col-xs-9">
                        <div class="labelonbg" for="q11nameid">Indtast spørgsmål:</div>
                        <input class="form-control" name="q11name" id="q11nameid" placeholder="Spørgsmål 12">
                    </div>
                    <div class="col-xs-3">
                        <div class="labelonbg" for="seltype11">Vælg svartype</div>
                        <select class="form-control" id="seltype11" placeholder="Svartype" name="q11type">
                            <option value="0">Kun ét svar kan vælges</option>
                            <option value="2">Rent tekstsvar</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row" id="q11t0">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast svarmuligheder: (alle fem behøves ikke benyttes)</div>
                        <input class="form-control" name="q11t0a0" id="q11t0a0" placeholder="Svar 1">
                        <input class="form-control svarm" name="q11t0a1" id="q11t0a1" placeholder="Svar 2">
                        <input class="form-control svarm" name="q11t0a2" id="q11t0a2" placeholder="Svar 3">
                        <input class="form-control svarm" name="q11t0a3" id="q11t0a3" placeholder="Svar 4">
                        <input class="form-control svarm" name="q11t0a4" id="q11t0a4" placeholder="Svar 5">
                    </div>

                </div>
                <div class="row nondisplay" id="q11t5">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast startværdi:</div>
                        <input class="form-control t2" name="q11t1a0" id="q11t1a0"  type="number">
                        <br />
                        <div class="labelonbg">Indtast slutværdi:</div>
                        <input class="form-control t2" name="q11t1a1" id="q11t1a1"  type="number">
                    </div>
                </div>
                <br />
                @*<div class="col-xs3">
                    <div class="labelonbg" for="needanswer11">Skal besvares:</div>
                    <input type="checkbox" value="true" name="needanswer11" id="needanswer11">
                </div>
                <br />*@
            </div>
            <div class="rc1 col-xs-12" id="q12">
                <br />
                <div class="row">
                    <div class="col-xs-9">
                        <div class="labelonbg" for="q12nameid">Indtast spørgsmål:</div>
                        <input class="form-control" name="q12name" id="q12nameid" placeholder="Spørgsmål 13">
                    </div>
                    <div class="col-xs-3">
                        <div class="labelonbg" for="seltype12">Vælg svartype</div>
                        <select class="form-control" id="seltype12" placeholder="Svartype" name="q12type">
                            <option value="0">Kun ét svar kan vælges</option>
                            <option value="2">Rent tekstsvar</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row" id="q12t0">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast svarmuligheder: (alle fem behøves ikke benyttes)</div>
                        <input class="form-control" name="q12t0a0" id="q12t0a0" placeholder="Svar 1">
                        <input class="form-control svarm" name="q12t0a1" id="q12t0a1" placeholder="Svar 2">
                        <input class="form-control svarm" name="q12t0a2" id="q12t0a2" placeholder="Svar 3">
                        <input class="form-control svarm" name="q12t0a3" id="q12t0a3" placeholder="Svar 4">
                        <input class="form-control svarm" name="q12t0a4" id="q12t0a4" placeholder="Svar 5">
                    </div>

                </div>
                <div class="row nondisplay" id="q12t5">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast startværdi:</div>
                        <input class="form-control t2" name="q12t1a0" id="q12t1a0"  type="number">
                        <br />
                        <div class="labelonbg">Indtast slutværdi:</div>
                        <input class="form-control t2" name="q12t1a1" id="q12t1a1"  type="number">
                    </div>
                </div>
                <br />
                @*<div class="col-xs3">
                    <div class="labelonbg" for="needanswer12">Skal besvares:</div>
                    <input type="checkbox" value="true" name="needanswer12" id="needanswer12">
                </div>
                <br />*@
            </div>
            <div class="rc1 col-xs-12" id="q13">
                <br />
                <div class="row">
                    <div class="col-xs-9">
                        <div class="labelonbg" for="q13nameid">Indtast spørgsmål:</div>
                        <input class="form-control" name="q13name" id="q13nameid" placeholder="Spørgsmål 14">
                    </div>
                    <div class="col-xs-3">
                        <div class="labelonbg" for="seltype13">Vælg svartype</div>
                        <select class="form-control" id="seltype13" placeholder="Svartype" name="q13type">
                            <option value="0">Kun ét svar kan vælges</option>
                            <option value="2">Rent tekstsvar</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row" id="q13t0">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast svarmuligheder: (alle fem behøves ikke benyttes)</div>
                        <input class="form-control" name="q13t0a0" id="q13t0a0" placeholder="Svar 1">
                        <input class="form-control svarm" name="q13t0a1" id="q13t0a1" placeholder="Svar 2">
                        <input class="form-control svarm" name="q13t0a2" id="q13t0a2" placeholder="Svar 3">
                        <input class="form-control svarm" name="q13t0a3" id="q13t0a3" placeholder="Svar 4">
                        <input class="form-control svarm" name="q13t0a4" id="q13t0a4" placeholder="Svar 5">
                    </div>

                </div>
                <div class="row nondisplay" id="q13t5">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast startværdi:</div>
                        <input class="form-control t2" name="q13t1a0" id="q13t1a0"  type="number">
                        <br />
                        <div class="labelonbg">Indtast slutværdi:</div>
                        <input class="form-control t2" name="q13t1a1" id="q13t1a1"  type="number">
                    </div>
                </div>
                <br />
                @*<div class="col-xs3">
                    <div class="labelonbg" for="needanswer13">Skal besvares:</div>
                    <input type="checkbox" value="true" name="needanswer13" id="needanswer13">
                </div>
                <br />*@
            </div>
            <div class="rc1 col-xs-12" id="q14">
                <br />
                <div class="row">
                    <div class="col-xs-9">
                        <div class="labelonbg" for="q14nameid">Indtast spørgsmål:</div>
                        <input class="form-control" name="q14name" id="q14nameid" placeholder="Spørgsmål 15">
                    </div>
                    <div class="col-xs-3">
                        <div class="labelonbg" for="seltype14">Vælg svartype</div>
                        <select class="form-control" id="seltype14" placeholder="Svartype" name="q14type">
                            <option value="0">Kun ét svar kan vælges</option>
                            <option value="2">Rent tekstsvar</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row" id="q14t0">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast svarmuligheder: (alle fem behøves ikke benyttes)</div>
                        <input class="form-control" name="q14t0a0" id="q14t0a0" placeholder="Svar 1">
                        <input class="form-control svarm" name="q14t0a1" id="q14t0a1" placeholder="Svar 2">
                        <input class="form-control svarm" name="q14t0a2" id="q14t0a2" placeholder="Svar 3">
                        <input class="form-control svarm" name="q14t0a3" id="q14t0a3" placeholder="Svar 4">
                        <input class="form-control svarm" name="q14t0a4" id="q14t0a4" placeholder="Svar 5">
                    </div>

                </div>
                <div class="row nondisplay" id="q14t5">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast startværdi:</div>
                        <input class="form-control t2" name="q14t1a0" id="q14t1a0" type="number">
                        <br />
                        <div class="labelonbg">Indtast slutværdi:</div>
                        <input class="form-control t2" name="q14t1a1" id="q14t1a1" type="number">
                    </div>
                </div>
                <br />
                @*<div class="col-xs3">
                    <div class="labelonbg" for="needanswer15">Skal besvares:</div>
                    <input type="checkbox" value="true" name="needanswer14" id="needanswer14">
                </div>
                <br />*@
            </div>
            <div class="rc1 col-xs-12" id="q15">
                <br />
                <div class="row">
                    <div class="col-xs-9">
                        <div class="labelonbg" for="q15nameid">Indtast spørgsmål:</div>
                        <input class="form-control" name="q15name" id="q15nameid" placeholder="Spørgsmål 16">
                    </div>
                    <div class="col-xs-3">
                        <div class="labelonbg" for="seltype15">Vælg svartype</div>
                        <select class="form-control" id="seltype15" placeholder="Svartype" name="q15type">
                            <option value="0">Kun ét svar kan vælges</option>
                            <option value="2">Rent tekstsvar</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row" id="q15t0">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast svarmuligheder: (alle fem behøves ikke benyttes)</div>
                        <input class="form-control" name="q15t0a0" id="q15t0a0" placeholder="Svar 1">
                        <input class="form-control svarm" name="q15t0a1" id="q15t0a1" placeholder="Svar 2">
                        <input class="form-control svarm" name="q15t0a2" id="q15t0a2" placeholder="Svar 3">
                        <input class="form-control svarm" name="q15t0a3" id="q15t0a3" placeholder="Svar 4">
                        <input class="form-control svarm" name="q15t0a4" id="q15t0a4" placeholder="Svar 5">
                    </div>

                </div>
                <div class="row nondisplay" id="q15t5">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast startværdi:</div>
                        <input class="form-control t2" name="q15t1a0" id="q15t1a0" type="number">
                        <br />
                        <div class="labelonbg">Indtast slutværdi:</div>
                        <input class="form-control t2" name="q15t1a1" id="q15t1a1" type="number">
                    </div>
                </div>
                <br />
                @*<div class="col-xs3">
                    <div class="labelonbg" for="needanswer15">Skal besvares:</div>
                    <input type="checkbox" value="true" name="needanswer15" id="needanswer15">
                </div>
                <br />*@
            </div>
            <div class="rc1 col-xs-12" id="q16">
                <br />
                <div class="row">
                    <div class="col-xs-9">
                        <div class="labelonbg" for="q16nameid">Indtast spørgsmål:</div>
                        <input class="form-control" name="q16name" id="q16nameid" placeholder="Spørgsmål 17">
                    </div>
                    <div class="col-xs-3">
                        <div class="labelonbg" for="seltype16">Vælg svartype</div>
                        <select class="form-control" id="seltype16" placeholder="Svartype" name="q16type">
                            <option value="0">Kun ét svar kan vælges</option>
                            <option value="2">Rent tekstsvar</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row" id="q16t0">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast svarmuligheder: (alle fem behøves ikke benyttes)</div>
                        <input class="form-control" name="q16t0a0" id="q16t0a0" placeholder="Svar 1">
                        <input class="form-control svarm" name="q16t0a1" id="q16t0a1" placeholder="Svar 2">
                        <input class="form-control svarm" name="q16t0a2" id="q16t0a2" placeholder="Svar 3">
                        <input class="form-control svarm" name="q16t0a3" id="q16t0a3" placeholder="Svar 4">
                        <input class="form-control svarm" name="q16t0a4" id="q16t0a4" placeholder="Svar 5">
                    </div>

                </div>
                <div class="row nondisplay" id="q16t5">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast startværdi:</div>
                        <input class="form-control t2" name="q16t1a0" id="q16t1a0" type="number">
                        <br />
                        <div class="labelonbg">Indtast slutværdi:</div>
                        <input class="form-control t2" name="q16t1a1" id="q16t1a1" type="number">
                    </div>
                </div>
                <br />
                @*<div class="col-xs3">
                    <div class="labelonbg" for="needanswer16">Skal besvares:</div>
                    <input type="checkbox" value="true" name="needanswer16" id="needanswer16">
                </div>
                <br />*@
            </div>
            <div class="rc1 col-xs-12" id="q17">
                <br />
                <div class="row">
                    <div class="col-xs-9">
                        <div class="labelonbg" for="q17nameid">Indtast spørgsmål:</div>
                        <input class="form-control" name="q17name" id="q17nameid" placeholder="Spørgsmål 18">
                    </div>
                    <div class="col-xs-3">
                        <div class="labelonbg" for="seltype17">Vælg svartype</div>
                        <select class="form-control" id="seltype17" placeholder="Svartype" name="q17type">
                            <option value="0">Kun ét svar kan vælges</option>
                            <option value="2">Rent tekstsvar</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row" id="q17t0">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast svarmuligheder: (alle fem behøves ikke benyttes)</div>
                        <input class="form-control" name="q17t0a0" id="q17t0a0" placeholder="Svar 1">
                        <input class="form-control svarm" name="q17t0a1" id="q17t0a1" placeholder="Svar 2">
                        <input class="form-control svarm" name="q17t0a2" id="q17t0a2" placeholder="Svar 3">
                        <input class="form-control svarm" name="q17t0a3" id="q17t0a3" placeholder="Svar 4">
                        <input class="form-control svarm" name="q17t0a4" id="q17t0a4" placeholder="Svar 5">
                    </div>

                </div>
                <div class="row nondisplay" id="q17t5">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast startværdi:</div>
                        <input class="form-control t2" name="q17t1a0" id="q17t1a0" type="number">
                        <br />
                        <div class="labelonbg">Indtast slutværdi:</div>
                        <input class="form-control t2" name="q17t1a1" id="q17t1a1" type="number">
                    </div>
                </div>
                <br />
                @*<div class="col-xs3">
                    <div class="labelonbg" for="needanswer17">Skal besvares:</div>
                    <input type="checkbox" value="true" name="needanswer17" id="needanswer17">
                </div>
                <br />*@
            </div>
            <div class="rc1 col-xs-12" id="q18">
                <br />
                <div class="row">
                    <div class="col-xs-9">
                        <div class="labelonbg" for="q18nameid">Indtast spørgsmål:</div>
                        <input class="form-control" name="q18name" id="q18nameid" placeholder="Spørgsmål 19">
                    </div>
                    <div class="col-xs-3">
                        <div class="labelonbg" for="seltype18">Vælg svartype</div>
                        <select class="form-control" id="seltype18" placeholder="Svartype" name="q18type">
                            <option value="0">Kun ét svar kan vælges</option>
                            <option value="2">Rent tekstsvar</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row" id="q18t0">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast svarmuligheder: (alle fem behøves ikke benyttes)</div>
                        <input class="form-control" name="q18t0a0" id="q18t0a0" placeholder="Svar 1">
                        <input class="form-control svarm" name="q18t0a1" id="q18t0a1" placeholder="Svar 2">
                        <input class="form-control svarm" name="q18t0a2" id="q18t0a2" placeholder="Svar 3">
                        <input class="form-control svarm" name="q18t0a3" id="q18t0a3" placeholder="Svar 4">
                        <input class="form-control svarm" name="q18t0a4" id="q18t0a4" placeholder="Svar 5">
                    </div>

                </div>
                <div class="row nondisplay" id="q18t5">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast startværdi:</div>
                        <input class="form-control t2" name="q18t1a0" id="q18t1a0" type="number">
                        <br />
                        <div class="labelonbg">Indtast slutværdi:</div>
                        <input class="form-control t2" name="q18t1a1" id="q18t1a1" type="number">
                    </div>
                </div>
                <br />
                @*<div class="col-xs3">
                    <div class="labelonbg" for="needanswer18">Skal besvares:</div>
                    <input type="checkbox" value="true" name="needanswer18" id="needanswer18">
                </div>
                <br />*@
            </div>
            <div class="rc1 col-xs-12" id="q19">
                <br />
                <div class="row">
                    <div class="col-xs-9">
                        <div class="labelonbg" for="q19nameid">Indtast spørgsmål:</div>
                        <input class="form-control" name="q19name" id="q19nameid" placeholder="Spørgsmål 20">
                    </div>
                    <div class="col-xs-3">
                        <div class="labelonbg" for="seltype19">Vælg svartype</div>
                        <select class="form-control" id="seltype19" placeholder="Svartype" name="q19type">
                            <option value="0">Kun ét svar kan vælges</option>
                            <option value="2">Rent tekstsvar</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row" id="q19t0">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast svarmuligheder: (alle fem behøves ikke benyttes)</div>
                        <input class="form-control" name="q19t0a0" id="q19t0a0" placeholder="Svar 1">
                        <input class="form-control svarm" name="q19t0a1" id="q19t0a1" placeholder="Svar 2">
                        <input class="form-control svarm" name="q19t0a2" id="q19t0a2" placeholder="Svar 3">
                        <input class="form-control svarm" name="q19t0a3" id="q19t0a3" placeholder="Svar 4">
                        <input class="form-control svarm" name="q19t0a4" id="q19t0a4" placeholder="Svar 5">
                    </div>

                </div>
                <div class="row nondisplay" id="q19t5">
                    <div class="col-xs-6">
                        <div class="labelonbg">Indtast startværdi:</div>
                        <input class="form-control t2" name="q19t1a0" id="q19t1a0" type="number">
                        <br />
                        <div class="labelonbg">Indtast slutværdi:</div>
                        <input class="form-control t2" name="q19t1a1" id="q19t1a1" type="number">
                    </div>
                </div>
                <br />
                @*<div class="col-xs3">
                    <div class="labelonbg" for="needanswer19">Skal besvares:</div>
                    <input type="checkbox" value="true" name="needanswer19" id="needanswer19">
                </div>
                <br />*@
            </div>
        </div>
        <div class="row col-xs-12 btnmargintop5">
            <div class="col-xs-5 nopadding">
                <button type="button" id="btnBack" value="back" class="btn btn-primary btn-lg pull-left" onclick="location.href='@Url.Action("Dashboard", "Forsker")'">Tilbage</button>
            </div>
            <div class="col-xs-2 text-center">
                <button type="button" class="btn btn-primary btn-lg " id="plusbtn">
                    Tilføj spørgsmål
                    @*<span class="glyphicon glyphicon-plus btn-lg" aria-hidden="true"></span>*@
                </button>
            </div>
            <div class="col-xs-5 nopadding">
                <button type="button" id="btnCreate" value="enter" class="btn btn-primary btn-lg pull-right">Opret</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        $("#btnCreate").click(function () {

            var inputname = document.getElementById("questionnairename");

            if (confirm('Opret spørgeskema?')) {
                if (inputname.value.length > 0) {
                    var exists = false;
                    for(var i = 0; i<names.length; i++){
                        if(inputname.value == names[i])
                            exists = true;
                    }
                    if(!exists){

                        var nameempty = true;

                        for(var i = 0; i<@q_amt; i ++){
                            var qname1 = document.getElementById("q" + i + "nameid");
                            if(qname1.value.length >0){
                                nameempty = false;
                            }
                            
                        
                        }

                        if(!nameempty){
                            $('#questioncontainer').submit();
                        }
                        else{
                            alert('Du har ikke indtastet nogle spørgsmål.')
                        
                        }
                    
                    }
                    else{
                        alert('Spørgeskema eksisterer allerede med dette navn. Indtast et andet navn.')
                    
                    }


                } else {
                    alert('Navn på spørgeskema er ikke udfyldt. Spørgeskemaet skal have et navn.');
                }
            } else {
                // Do nothing!
            }


        });
    });

    var count = 0;

    document.getElementById("plusbtn").onclick = function () { plusbtn() };

    function plusbtn() {

        var myOpts = document.getElementById('sel').options;
        if(count < myOpts.length-1){
            myOpts[count + 1].style.display = 'block'

            count++;

            for (var i = 0; i < @q_amt; i++)
            {      
                $("#q" + i).hide();
                
            }

            $("div.floatleft select").val(count);
            $("#q" + count).show();

        }
    }

    function minusbtn() {

        var myOpts = document.getElementById('sel').options;
        if(count>0){
        myOpts[count].style.display = 'none'
        count--;

        var sel = document.getElementById("sel");
        var selval = sel.options[sel.selectedIndex].value;


        if (selval > count) {
            $("div.floatleft select").val(count);


            for (var i = 0; i <= @q_amt -1; i++)
                $("#q" + i).hide();

            $("#q" + count).show();
            }
        }

    }


    $(document).ready(function () {

        $("#sel").change(function () {
            var i = $('option:selected', this).index();

            $("#q0").hide();
            $("#q1").hide();
            $("#q2").hide();
            $("#q3").hide();
            $("#q4").hide();
            $("#q5").hide();
            $("#q6").hide();
            $("#q7").hide();
            $("#q8").hide();
            $("#q9").hide();
            $("#q10").hide();
            $("#q11").hide();
            $("#q12").hide();
            $("#q13").hide();
            $("#q14").hide();
            $("#q15").hide();
            $("#q16").hide();
            $("#q17").hide();
            $("#q18").hide();
            $("#q19").hide();
            $("#q" + i).show();

        });

        $("#seltype0").change(function () {
            var i = $('option:selected', this).index();
            $("#q0t0").hide();
            $("#q0t1").hide();
            $("#q0t2").hide();
            $("#q0t" + i).show();
        });

        $("#seltype1").change(function () {
            var i = $('option:selected', this).index();
            $("#q1t0").hide();
            $("#q1t1").hide();
            $("#q1t2").hide();
            $("#q1t" + i).show();
        });

        $("#seltype2").change(function () {
            var i = $('option:selected', this).index();
            $("#q2t0").hide();
            $("#q2t1").hide();
            $("#q2t2").hide();
            $("#q2t" + i).show();
        });

        $("#seltype3").change(function () {
            var i = $('option:selected', this).index();
            $("#q3t0").hide();
            $("#q3t1").hide();
            $("#q3t2").hide();
            $("#q3t" + i).show();
        });

        $("#seltype4").change(function () {
            var i = $('option:selected', this).index();
            $("#q4t0").hide();
            $("#q4t1").hide();
            $("#q4t2").hide();
            $("#q4t" + i).show();
        });
        $("#seltype5").change(function () {
            var i = $('option:selected', this).index();
            $("#q5t0").hide();
            $("#q5t1").hide();
            $("#q5t2").hide();
            $("#q5t" + i).show();
        });
        $("#seltype6").change(function () {
            var i = $('option:selected', this).index();
            $("#q6t0").hide();
            $("#q6t1").hide();
            $("#q6t2").hide();
            $("#q6t" + i).show();
        });
        $("#seltype7").change(function () {
            var i = $('option:selected', this).index();
            $("#q7t0").hide();
            $("#q7t1").hide();
            $("#q7t2").hide();
            $("#q7t" + i).show();
        });
        $("#seltype8").change(function () {
            var i = $('option:selected', this).index();
            $("#q8t0").hide();
            $("#q8t1").hide();
            $("#q8t2").hide();
            $("#q8t" + i).show();
        });
        $("#seltype9").change(function () {
            var i = $('option:selected', this).index();
            $("#q9t0").hide();
            $("#q9t1").hide();
            $("#q9t2").hide();
            $("#q9t" + i).show();
        });
        $("#seltype10").change(function () {
            var i = $('option:selected', this).index();
            $("#q10t0").hide();
            $("#q10t1").hide();
            $("#q10t2").hide();
            $("#q10t" + i).show();
        });
        $("#seltype11").change(function () {
            var i = $('option:selected', this).index();
            $("#q11t0").hide();
            $("#q11t1").hide();
            $("#q11t2").hide();
            $("#q11t" + i).show();
        });
        $("#seltype12").change(function () {
            var i = $('option:selected', this).index();
            $("#q12t0").hide();
            $("#q12t1").hide();
            $("#q12t2").hide();
            $("#q12t" + i).show();
        });
        $("#seltype13").change(function () {
            var i = $('option:selected', this).index();
            $("#q13t0").hide();
            $("#q13t1").hide();
            $("#q13t2").hide();
            $("#q13t" + i).show();
        });
        $("#seltype14").change(function () {
            var i = $('option:selected', this).index();
            $("#q14t0").hide();
            $("#q14t1").hide();
            $("#q14t2").hide();
            $("#q14t" + i).show();
        });
        $("#seltype15").change(function () {
            var i = $('option:selected', this).index();
            $("#q15t0").hide();
            $("#q15t1").hide();
            $("#q15t2").hide();
            $("#q15t" + i).show();
        });
        $("#seltype16").change(function () {
            var i = $('option:selected', this).index();
            $("#q16t0").hide();
            $("#q16t1").hide();
            $("#q16t2").hide();
            $("#q16t" + i).show();
        });
        $("#seltype17").change(function () {
            var i = $('option:selected', this).index();
            $("#q17t0").hide();
            $("#q17t1").hide();
            $("#q17t2").hide();
            $("#q17t" + i).show();
        });
        $("#seltype18").change(function () {
            var i = $('option:selected', this).index();
            $("#q18t0").hide();
            $("#q18t1").hide();
            $("#q18t2").hide();
            $("#q18t" + i).show();
        });
        $("#seltype19").change(function () {
            var i = $('option:selected', this).index();
            $("#q19t0").hide();
            $("#q19t1").hide();
            $("#q19t2").hide();
            $("#q19t" + i).show();
        });

  });
</script>










