@model List<KliPr.ViewModels.QuestionnaireListViewModel>

@{
    ViewData["Title"] = "Dashboard";

}
<div class="thetopmargin">
    <div class="col-md-8 col-sm-6 col-xs-6"> 
        <div id="questionillu">
            <h1>Aktuelle spørgeskemaer:</h1>
            <div class="table-responsive ">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Navn</th>
                            <th>Oprettelsesdato</th>
                            <th>Antal besvarelser</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var q in Model)
                            {
                                var xtime = new DateTime(1970, 1, 1).AddSeconds(q.Id.Timestamp).ToString("dd/MM/yyyy");

                                <tr>
                                    <td>@q.name</td>
                                    <td>@xtime</td>
                                    <td>@q.answeramount</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="row-md-4">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='@Url.Action("Create", "Forsker")'">Opret spørgeskema</button>
        </div>
        <div class="row-md-4 topmargin">
            <button type="button" class="btn btn-primary btn-lg btn-block topmargin" onclick="location.href='@Url.Action("Delete", "Forsker")'">Slet spørgeskema</button>
        </div>
        <div class="row-md-4 topmargin2">
            <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='@Url.Action("Chooseforchart", "Forsker")'">Vis resultater</button>
        </div>
        <div class="row-md-4 topmargin">
            <button type="button" class="btn btn-primary btn-lg btn-block">Exportér data</button>
        </div>
    </div>
</div>