@model List<KliPr.ViewModels.QuestionnaireListViewModel>

@{
    ViewData["Title"] = "Slet spørgeskema";
}
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
</head>

<div class="thetopmargin">
    <h1 class="text-center">Slet spørgeskema:</h1>
    <br />
    <br />
    <div class="col-md-10 col-md-offset-1">
        <form method="post" id="postform" class="questionillu">
            <div class="form-group">
                <div class="table-responsive largetext">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Navn</th>
                                <th>Kategori</th>
                                <th>Oprettelsesdato</th>
                                <th>Antal besvarelser</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var q in Model)
                                {
                                    var xtime = new DateTime(1970, 1, 1).AddSeconds(q.Id.Timestamp).ToString("dd/MM/yyyy");
                                    KliPr.Enum.Participant enump = (KliPr.Enum.Participant)q.participant;
                                    string stringValue = enump.ToString();
                                    <tr>
                                        <td>@q.name</td>
                                        <td>@stringValue</td>
                                        <td>@xtime</td>
                                        <td>@q.answeramount</td>
                                        <td>
                                            <input type="checkbox" value=@q.Id id="@q.name" name="ObjectID">
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>

            </div>
        </form>
        <div class="text-center col-xs-12 thetopmarginsm">
            <button type="button" class="btn btn-primary btn-lg" id="okbtn" disabled>Slet valgte</button>
        </div>
    </div>
</div>

<script type="text/javascript">


    $(function () {
        $("#okbtn").click(function () {

            var inputname = document.getElementById("questionnairename");

            var checkedBoxes = document.querySelectorAll('input[name=ObjectID]:checked');

            var selstring = "";

            for (var i = 0; i < checkedBoxes.length; i++) {
                selstring = selstring + "\n" + checkedBoxes[i].id;

            }



            if (confirm('Slet disse spørgeskemaer?' + selstring)) {

                $('#postform').submit();

            } else {
                // Do nothing!
            }


        });
    });

    var boxes = document.querySelectorAll('input[type=checkbox]');
    var btn = document.getElementById("okbtn")

    function changeHandler(event) {
        if(atLeastOneCheckbox()>0)
        {
            
            btn.disabled = false;

        }
        else {
            btn.disabled = true;

        }
    }

    Array.prototype.forEach.call(boxes, function (box) {
        box.addEventListener('change', changeHandler);
    });

    function atLeastOneCheckbox() {
        return ($('input[type=checkbox]:checked').size());
    }
</script>


